.photo-grid__item{
  min-width: 100%;
}
@media(min-width:1280px) {
  .photo-grid__item {
    min-width: none;
    max-width: 100%;
  }
}
@media(max-width:767px){
  .photo-grid__item{
    max-width: 100%;
  }
}