.footer__link{
  margin-right: 18px;
  transition: all 0.3s ease 0s;
}
.footer__link:last-child{
  margin: 0;
}
.footer__link:hover{
  opacity: 0.8;
}
@media(max-width:767px){
  .footer__link{
    margin-bottom: 32px;
  }
  .footer__link:last-child{
    margin-bottom: 48px;
  }
}