.place{
  padding-top: 92px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px 32px;
}
@media(max-width:1023px) {
  .place{
    gap: 48px 28px;
  }
}
@media(max-width:767px) {
  .place{
    grid-template-columns: 1fr;
    gap: 32px 0;
  }
}